.footer{
    background:  #000;
    padding:  24px 0;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: flex;
        align-items: center;
        gap: 12px;
        &_text{
            color:  white;
            font-family: 'Sora';
            font-size: 20px;
            font-weight: 700;
            line-height: 24px; 
            letter-spacing: -0.4px;
            text-transform: capitalize;
        }
    }
    &__text{
        color:  white;
        font-family: 'Sora';
        font-size: 20px;
        font-weight: 700;
        line-height: 24px; 
        letter-spacing: -0.4px;
        text-transform: capitalize;
    }

    

}